
<div ng-controller="updatePartidoCtrl as ctrl">
    <form>
        <div  class="grid-x grid-padding-x">
    <div class="small-3 cell"></div>
    <div class="small-5 cell">
        <div class="grid-container">
            <select ng-model="selectedTeam.usuario">
                <option ng-repeat="a in tablaUsuarios.data">{{ a[columnIndex(tablaUsuarios, 'usuario')] }}</option>
            </select>
        </div>
        <div>
            <select ng-model="selectedTeam.partido" ng-change="getInputsWizard()">
                <option ng-value="a[columnIndex(tablaPartidos, 'id')]" ng-repeat="a in tablaPartidos.data">{{ a[columnIndex(tablaPartidos, '1')] }} - {{ a[columnIndex(tablaPartidos, '2')] }}</option>
            </select>
        </div>
        <div>
            <!--<div class="row">-->
                <!--<div class="small-3 cell">-->
                  <!--<label for="1" class="text-right middle">1</label>-->
                <!--</div>-->
                <!--<div class="small-9 cell">-->
                  <!--<input type="number" id="1" name="input {{ a[0] }}" ng-model="selectedTeam.resultados[1]">-->
                <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="small-2 columns"><label>1</label></div>
                <div class="small-10 columns">
                    <input type="number" step="0.01" id="1" name="input {{ a[0] }}" ng-model="selectedTeam.resultados[1]">
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns"><label>x</label></div>
                <div class="small-10 columns">
                    <input type="number" step="0.01" name="input {{ a[1] }}" ng-model="selectedTeam.resultados.x">
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns"><label>2</label></div>
                <div class="small-10 columns">
                    <input type="number" step="0.01" name="input {{ a[2] }}" ng-model="selectedTeam.resultados[2]">
                </div>
            </div>
        </div>
        <div>
            <label ng-show="!checkResults()">
                Revise que haya ingresado el nombre y partido correctos.
                Puede que la suma de las probabilidades sea diferente de 1 o hayan probabilidades negativas.
            </label>
            <button ng-disabled="!checkResults()" ng-click="enviarOdds()">Enviar</button>
        </div>
    </div>
    </div>
    </form>
    <br>
    <dinamic-table table=tablaInputsWizard></dinamic-table>
</div>
