
<div ng-controller="modificarResultados as ctrl"><table>
    <button ng-click="guardarCambios()">Guardar cambios</button>
    <a download="match.csv" ng-href="{{ urlTabla }}"><button>Descargar</button></a>
    <tr>
        <th ng-repeat="column in tablaPartidos.columns">{{ column }}</th>
    </tr>
    <tr ng-repeat="row in tablaPartidos.data track by $index">
        <td ng-repeat="col in row track by $index">
            <input type="text" ng-model="tablaPartidos.data[$parent.$index][$index]" value="{{ col }}">
        </td>
    </tr>
</table>
</div>