<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="mundialMath" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="mundialMath" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="mundialMath" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="mundialMath" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My first App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.min.css">
</head>
<body style="margin: 50px">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>

    <div ng-controller="mainControl as ctrl">
        <button ng-click="redirigir('start')">
            Información
        </button>
        <button ng-click="redirigir('bet')">
            Apostar
        </button>
        <button ng-click="redirigir('actualizarResultados')">
            Actualizar resultados
        </button>
    </div>
    <div ng-view></div>

    <script src="app-min.js"></script>
    <script src="startPage/startPage-min.js"></script>
    <script src="updatePartido/updatePartido-min.js"></script>
    <script src="resources/resources-min.js"></script>
    <script src="resources/utilities-min.js"></script>
    <script src="resources/mundialApi-min.js"></script>
    <script src="directives/directives-min.js"></script>

    <script src="directives/dinamicTable/dinamicTable-min.js"></script>
    <script src="actualizarResultados/controller-min.js"></script>
    <script src="bower_components/foundation/js/vendor/jquery.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>

</body>
</html>
