<div ng-controller="startPageCtrl as ctrl">
    <div>
        <select ng-model="selectedTeam.partido" ng-change="getInputsWizard()">
            <option ng-value="a[0]" ng-repeat="a in tablaPartidos.data">{{ a[1] }} - {{ a[2] }}</option>
        </select>
    </div>
    <label>1</label><input type="number" name="input {{ a[0] }}" ng-model="resultadosPartido.resultado[1]"><br>
    <label>x</label><input type="number" name="input {{ a[1] }}" ng-model="resultadosPartido.resultado.x"><br>
    <label>2</label><input type="number" name="input {{ a[2] }}" ng-model="resultadosPartido.resultado[2]"><br>
    <button ng-click="actualizarPartido()">Enviar</button>
</div>