<div ng-controller="startPageCtrl as ctrl">
    <div>
        <select ng-model="selectedTeam.partido" ng-change="getInputsWizard()">
            <option ng-value="a[0]" ng-repeat="a in tablaPartidos.data">{{ a[0] }} - {{ a[1] }}</option>
        </select>
    </div>

    <div>
        <select ng-model="resultadosPartido.resultado" ng-change="getInputsWizard()">
            <option ng-value="1">1</option>
            <option ng-value="x">x</option>
            <option ng-value="2">2</option>
        </select>
    </div>

    <button ng-click="actualizarPartido()">Enviar</button>
</div>